PORT=5000
CLIENT_URL=http://localhost:5173
# Production: CLIENT_URL=https://fashishir.github.io

DB_USER=postgres
DB_HOST=localhost
DB_NAME=twostep
DB_PASSWORD=admin
DB_PORT=5432

JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

UPLOAD_DIR=./uploads/products
